@import "compass/reset", "compass/css3", "compass/css3/user-interface",
        "compass/utilities";

// Variables
// =========
$white: #ffffff;
$black: #222222;
$primary: #29e260;
// ---------

* { @include box-sizing(border-box); }

html {
  font: 100 24px/1.618 "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  color: $white;
  background: $primary;
}

main {
  padding: 15% 0.25rem 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

p {
  cursor: default;
  width: auto;
  opacity: 0.5;
  &.current {
    font-size: 1.6rem;
    opacity: 1;
    margin: 0.8rem 0;
  }
  &:hover, &:active {
    opacity: 1;
  }
}

strong {
  font-weight: 300;
}

::selection {
  color: $white;
  background: rgba($black, 0.5);
  }
::-moz-selection {
  color: $white;
  background: rgba($black, 0.5);
}

@media screen and (max-width: 640px) { html { font-size: 18px; } }
@media screen and (min-width: 1280px) { html { font-size: 32px; } }