@import "compass/reset", "compass/css3", "compass/css3/user-interface",
        "compass/utilities";

// Variables
// =========
$white: #ffffff;
$black: #222222;
$primary: #29e260;
// ---------

* {
  @include box-sizing(border-box);
  @include user-select(none);
}

html {
  font: 300 24px/1.618 "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include transition(background 200ms ease-out);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: $white;
  background: $primary;
}

main {
  height: 100%;
  width: 100%;
  padding: 2.618rem 0;
  text-align: center;
}

h1 {
  @include transition(all 200ms ease-out);
  font-size: 2.058rem;
  margin-bottom: 2.058rem;
  opacity: 0.65;
  &.done { opacity: 1; }
}

p {
  @include transition(all 200ms ease-out);
  cursor: default;
  opacity: 0.65;
  &.current {
    font-size: 1.618rem;
    opacity: 1;
    margin: 0.618rem 0;
  }
  &:hover, &:active {
    opacity: 1;
  }
}

@media screen and (max-width: 640px) { html { font-size: 16px; } }
@media screen and (min-width: 1280px) { html { font-size: 32px; } }