@import "compass/reset", "compass/css3", "compass/css3/user-interface",
        "compass/utilities";

// Variables
// =========
$white: #ffffff;
$black: #222222;
$primary: #29e260;
$primary-light: lighten($primary, 30);
$primary-dark: darken($primary, 15);
// ---------

* {
  @include box-sizing(border-box);
  @include user-select(none);
}

html {
  font: 300 24px/1.618 "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include transition(background 250ms ease-out, opacity 250ms ease-out);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: $white;
  background: $primary;
  opacity: 0;
  &.ready { opacity: 1; }
}

main {
  height: 100%;
  width: 100%;
  padding: 2.618rem 0;
  text-align: center;
}

h1 {
  @include transition(all 250ms ease-out);
  font-size: 2.058rem;
  margin-bottom: 2.058rem;
  color: $primary-dark;
}

h2 {
  @include transition(all 250ms ease-out);
  display: inline-block;
  font-size: 2.058rem;
  position: fixed;
  bottom: 2.058rem;
  right: 0;
  left: 0;
  color: $primary-dark;
}

p {
  @include transition(all 250ms ease-out);
  cursor: default;
  color: $primary-light;
  &.current {
    color: $white;
    font-size: 1.618rem;
    margin: 0.618rem 0;
  }
}

strong {
  font-weight: 500;
}

@media screen and (max-width: 640px) { html { font-size: 16px; } }
@media screen and (min-width: 1280px) { html { font-size: 32px; } }